<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h2>Здравствуйте!</h2>

<p>Когда вы ответили на все вопросы, некоторые документы для регистрации не были подготовлены сервисом в тот же момент. Это произошло из-за того, что не работали сайты государственных органов, которые ответственны за их подготовку.
<p>Сейчас работа сайтов восстановилась, и мы смогли создать все необходимые для вас документы, они доступны по ссылкам:

<ol>
    {% for doc in docs %}
    <li>
        <a href="{{doc.url}}">{{doc.title}}</a>
    </li>
    {% endfor %}
</ol>

<p>&nbsp;
<p>Подробную информацию о том, как подать документы на регистрацию и как получить готовые, вы найдете в ЮРБЮРО по <a href="{{go_further_url}}">ссылке</a>.

<p>С уважением,<br />
    Вера
<p><br/>
<p>команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('deferred_docs_ready', user_id)}}">yurburo.ru</a>

</body>
</html>