<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h2>Здравствуйте!</h2>

<p>Меня зовут Вера, я вместе с моими партнерами развиваю сервис ЮРБЮРО (<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('please_pay_finalised', user_id)}}">yurburo.ru</a>).

<p>&nbsp;
<p>Мы пытаемся создать сервис, который позволит людям решать их юридические вопросы, не обращаясь к юристу, тем самым экономить время и деньги.
    Стоимость услуг нашего сервиса в 10 раз ниже, чем аналогичные услуги офлайн юристов.

<p>&nbsp;
<p>Я обратила внимание, что вы подготовили все документы, но не оплатили их.

<p>&nbsp;
<p>Пожалуйста, подскажите нам причины, чтобы мы могли сделать сервис более полезным:

<ol>
    <li>не подошли документы
    <li>не понравился сервис
    <li>официальная регистрация пока не нужна
    <li>ничего не хочу делать самостоятельно
    <li>что-то другое
</ol>

<p>&nbsp;
<p>Если вы захотите продолжить регистрацию ООО с нашей помощью, то можете вернуться на сервис <a href="{{batch_url}}">yurburo.ru</a>.
    Вы вернетесь на тот шаг, на котором остановились.

<p>&nbsp;
<p>Заранее большое спасибо,

<p>С уважением,<br />
    Вера
<p><br/>
<p>команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('please_pay_finalised', user_id)}}">yurburo.ru</a>

</body>
</html>
