<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h2>Здравствуйте!</h2>

<p>&nbsp;
<p>Я обратила внимание, что вы подготовили все документы на ЮРБЮРО (<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('please_pay_finalised_double', user_id)}}">yurburo.ru</a>), но не оплатили их.

<p>&nbsp;
<p>Возможно, в процессе у вас возникли какие-то сложности. Пожалуйста, подскажите какие, это поможет нам сделать сервис более полезным:

<ul>
    <li>не подошли документы
    <li>не понравился сервис
    <li>официальная регистрация пока не нужна
    <li>ничего не хочу делать самостоятельно
    <li>не понятно, что делать дальше
    <li>что-то другое
</ul>

<p>&nbsp;
<p>Если вы захотите продолжить регистрацию ООО с нашей помощью, то можете вернуться в сервис <a href="{{batch_url}}">yurburo.ru</a>.
<p>Вы вернетесь на тот шаг, на котором остановились.

<p>&nbsp;
<p>Заранее большое спасибо.

<p>&nbsp;

<p>С уважением,<br />
    Вера
<p><br/>
<p>команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('please_pay_finalised_double', user_id)}}">yurburo.ru</a>

</body>
</html>
