<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h2>Здравствуйте!</h2>

<p>Меня зовут Вера, я вместе с моими партнерами развиваю сервис ЮРБЮРО (<a href="{{service_schema}}://{{ service_domain }}/{{'?'|utm_args('osago_please_finalise', user_id)}}">yurburo.ru</a>).

<p>&nbsp;
<p>Мы пытаемся сделать сервис, который позволит людям решать их юридические вопросы, не обращаясь к юристу, тем самым экономить время и деньги.

<p>&nbsp;
<p>Я увидела, что вы начали готовить документы в страховую компанию по услуге «Возмещение по ОСАГО», но не закончили их создание.

<p>&nbsp;
<p>Пожалуйста, подскажите нам причины, чтобы мы могли сделать сервис более полезным:

<ol>

    <li>не планирую ничего делать самостоятельно
    <li>непонятные вопросы
    <li>мало информации для принятия решений (ответов на вопросы)
    <li>не хочу оставлять личные данные
    <li>нет необходимости в этой услуге
    <li>процесс в общем непонятен
    <li>возникли технические проблемы
    <li>что-то другое

</ol>

<p>&nbsp;
{% set go_further_url = service_schema + '://' + service_domain +'/osago/?id=' + batch_id + '&utm_source=osago_please_finalise&utm_medium=email&utm_term=' + user_id %}
<p>Если вы захотите продолжить возвращать деньги по ОСАГО с нашей помощью, то можете вернуться в сервис <a href="{{go_further_url|make_auth_url(user_id)}}">yurburo.ru</a>.
    Вы вернетесь на тот шаг, на котором остановились.

<p>&nbsp;
<p>Заранее большое спасибо.

<p>&nbsp;

<p>С уважением,<br />
    Вера
<p><br/>
<p>команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{service_schema}}://{{ service_domain }}/{{'?'|utm_args('osago_please_finalise', user_id)}}">yurburo.ru</a>

</body>
</html>
