<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h3>Здравствуйте!</h3>

{% if success_reg %}
<p>Налоговая зарегистрировала ИП {{short_name}}, ОГРНИП номер {{ogrnip}}, идентификатор пакета документов {{batch_id}}.
{% else %}
<p>Налоговая отказалась регистрировать компанию ИП {{short_name}}, идентификатор пакета документов {{batch_id}}.
{% endif %}
<p>Способ подачи: {{application_form_rus}}{#все учредители/часть учредителей/представитель#}, способ получения: {{obtain_form_rus}}{#по почте/лично/представитель#}.
<p>Подающий: {{applicant_fio}}, e-mail: {{user_email}}

</body>
</html>