<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>

<h2>Здравствуйте!</h2>

<p>Поздравляю вас, налоговая зарегистрировала ИП {{short_name}}
<p>Государственный регистрационный номер ИП &mdash; {{ogrnip}}.

<p>&nbsp;
<p>Дата готовности документов, указанная на сайте налоговой, {{docs_ready_date}}.
<p>&nbsp;

    {% if doc_rec_by_email %}
<p>Налоговая отправит вам готовые документы почтой, согласно варианту который был выбран при подготовке документов.
    Срок доставки сильно зависит от работы почты России и может составлять от одной до нескольких недель.
    Пока что вы можете перейти к дальнейшим действиям для завершения регистрации компании, для этого перейдите в сервис ЮРБЮРО по <a href="{{ifns_book_doc_receive_url}}">ссылке</a>
    {% elif doc_rec_by_responsible %}
<p>Напоминаю, что получить их может ваш представитель {{docs_recipient_fio}}, согласно варианту который был выбран при подготовке документов.
    Как получить документы и что делать дальше, вы можете узнать в сервисе ЮРБЮРО по <a href="{{ifns_book_doc_receive_url}}">ссылке</a>.

<p>Если ваши планы изменились, и ваш представитель не будет получать документы, получить их сможет {{obtain_person_fio}} лично.
    {% else %}
<p>Напоминаю, что получить их может только {{docs_recipient_fio}} лично, согласно варианту, который был выбран при подготовке документов.
    Как получить документы и что делать дальше, вы можете узнать в сервисе ЮРБЮРО по <a href="{{ifns_book_doc_receive_url}}">ссылке</a>.
    {% endif %}

<p>&nbsp;

<p>Еще раз поздравляю и желаю удачи в бизнесе!

{% if service_startup %}
<p>&nbsp;

<p>Так как <a href="{{schema}}://{{ domain }}/{{'?'|utm_args('ifns_ip_reg_success', user_id)}}">yurburo.ru</a> только начинает свою работу, мы будем вам очень благодарны за отзыв о нашем сервисе.
    Пожалуйста, если вы решите нам помочь, отправьте отзыв в свободной форме в ответ на это письмо.
{% endif %}

<p>С уважением,<br />
    Вера
<p>&nbsp;
<p>команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('ifns_ip_reg_success', user_id)}}">yurburo.ru</a>

</body>
</html>