<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h3>Здравствуйте!</h3>

<p>Вы запросили восстановление пароля в сервисе ЮРБЮРО. Для смены пароля пройдите, пожалуйста, по <a href="{{web_schema}}://{{ domain }}/password-change/?code={{link_code}}&user_id={{user_id|utm_args('change_password', user_id)}}">данной ссылке</a>.
<p>Если вы не запрашивали восстановление пароля, то просто проигнорируйте это письмо.

<p>Спасибо,<br />
    команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{web_schema}}://{{ domain }}/{{'?'|utm_args('change_password', user_id)}}">yurburo.ru</a>

</body>
</html>