<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
<h2>Здравствуйте!</h2>
<p>Ранее вы записывались на встречу к нотариусу, но после этого изменили документы.
    Мы автоматически отменили вашу запись, чтобы избежать ситуации, когда у нотариуса будут неактуальные версии документов.
    Как только вы поправите все документы вы можете записаться к нотариусу ещё раз на соответствующем шаге.
</p>
<p>Спасибо,<br />
    команда ЮРБЮРО
<p><a href="tel:+78005005440">8 800 500-54-40</a><br/>
<a href="mailto:support@yurburo.ru">support@yurburo.ru</a><br/>
<a href="{{schema}}://{{ domain }}/{{'?'|utm_args('notarius_discard_user_notify', user_id)}}">yurburo.ru</a>


</body>
</html>